:root {
  --color-background: #2e3881;
  --color-primary: #fefefe;
  --color-text: #fefefe;

  --color-background-gradient: linear-gradient(45deg , #392e6d, #2e3881);
  --color-background-image: linear-gradient(to right top, #3d69d6, #4470dd, #4b77e5, #517fec, #5886f4, #5581ec, #537de5, #5078dd, #4367c5, #3656ad, #294696, #1a3680);
}
